In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import json
import numpy as np

In [2]:
csv_tickets_1 = "Resources/Parking_Tickets_1.csv"
ticket_df_1 = pd.read_csv(csv_tickets_1)
ticket_df_1.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3
0,***87325,20170101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN
1,***87326,20170101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN
2,***09493,20170101,3,PARK ON PRIVATE PROPERTY,30,2.0,NR,2425 JANE ST,NaN
3,***67358,20170101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,DUNDAS SQ,E/O
4,***87327,20170101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,ARMOURY ST,W/O

In [3]:
csv_tickets_2 = "Resources/Parking_Tickets_2.csv"
ticket_df_2 = pd.read_csv(csv_tickets_2)
ticket_df_2.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2
0,***26271,20170510,29,PARK PROHIBITED TIME NO PERMIT,30,219.0,NR,21 CLAXTON BLVD
1,***47587,20170510,29,PARK PROHIBITED TIME NO PERMIT,30,219.0,NR,209 FAIRVIEW AVE
2,***95886,20170510,3,PARK ON PRIVATE PROPERTY,30,220.0,AT,24 MABELLE AVE
3,***60513,20170510,2,PARK - LONGER THAN 3 HOURS,15,220.0,NR,18 LINDEN AVE
4,***00993,20170510,8,STAND VEH.-PROHIBIT TIME/DAY,60,220.0,NR,364 ADELAIDE ST W

In [4]:
csv_tickets_3 = "Resources/Parking_Tickets_3.csv"
ticket_df_3 = pd.read_csv(csv_tickets_3)
ticket_df_3.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2
0,***98714,20170911,210,PARK FAIL TO DISPLAY RECEIPT,30,1707.0,NR,151 DAN LECKIE WAY
1,***03276,20170911,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1707.0,NR,2143 DANFORTH AVE
2,***06931,20170911,2,PARK - LONGER THAN 3 HOURS,15,1707.0,NR,90 BURNSIDE DR
3,***78878,20170911,29,PARK PROHIBITED TIME NO PERMIT,30,1707.0,NR,41 DALTON RD
4,***01730,20170911,210,PARK FAIL TO DISPLAY RECEIPT,30,1707.0,NR,10 ELLERBECK ST

In [6]:
tickets_2017_df=pd.concat([ticket_df_1,ticket_df_2,ticket_df_3])
locations = list(tickets_2017_df["location2"])
locations

C:\Users\jobag\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

['11 CENTRE AVE',
 '11 CENTRE AVE',
 '2425 JANE ST',
 'DUNDAS SQ',
 'ARMOURY ST',
 '46 SPADINA AVE',
 '39 LAKEVIEW AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 'FENWICK AVE',
 '46 SPADINA AVE',
 '21 CAMBRIDGE AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 'FENWICK AVE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'FENWICK AVE',
 'FENWICK AVE',
 '46 SPADINA AVE',
 '30 KINGSWOOD RD',
 '27 CAMBRIDGE AVE',
 '145 STRATHMORE BLVD',
 'ARMOURY ST',
 'FENWICK AVE',
 'KINGSWOOD RD',
 'KINGSWOOD RD',
 '49 CAMBRIDGE AVE',
 '2 CAITHNESS AVE',
 '19 MACEY AVE',
 '10 YUKON PLACE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'FENWICK AVE',
 '60 KINGSWOOD RD',
 '6 CAITHNESS AVE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 '380 WELLINGTON ST W',
 '60 KINGSWOOD RD',
 '49 CAMBRIDGE AVE',
 '87 STRATHMORE BLVD',
 'ALBION AVE',
 '14 LONDON GREEN CT',
 'FENWICK AVE',
 'FENWICK AVE',
 '62 KINGSWOOD RD',
 '85 STRATHMORE BLVD',
 '178 DUPONT ST',
 '70 HIGH PARK AVE',
 '111 CHESTNUT ST',
 '5351 YONGE ST',
 '80 LYNN WILLIAMS ST',
 '63 CAMBRIDGE AVE',
 '85 STRATHMORE BLVD',
 '14 LONDON GREE CT',
 'FENWICK AVE',
 'FENWICK AVE',
 '80 LYNN WILLIAMS ST',
 'FENWICK AVE',
 '98 KINGSWOOD RD',
 '122 PATTERSON AVE',
 '104 KINGSWOOD RD',
 '149 CAMBRIDGE AVE',
 '130 LAMB AVE',
 '132 LAMB AVE',
 '31 EATON AVE',
 '14 LONDON GREEN CT',
 '3 DUPLEX AVE',
 'CARLAW AVE',
 '983 KINGSTON RD',
 '143 CAMBRIDGE AVE',
 '147 LAMB AVE',
 '120 HIGH PARK AVE',
 '8 DUPLEX AVE',
 'CARLAW AVE',
 '100 WESTERN BATTERY RD',
 '100 WESTERN BATTERY RD',
 '171 PACIFIC AVE',
 '149 LAMB AVE',
 '100 WESTERN BATTERY RD',
 '20 WOODYCREST AVE',
 '100 WESTERN BATTERY RD',
 '7 WOODYCREST AVE',
 '45 CATARAQUI CRES',
 '150 HIGH PARK AVE',
 '70 CENTRE AVE',
 '1 DUPLEX AVE',
 '125 WESTERN BATTERY RD',
 '303 KENILWORTH AVE',
 '24 PRETORIA AVE',
 '157 HIGH PARK AVE',
 '125 WESTERN BATTERY RD',
 '309 KENILWORTH AVE',
 '17 PRINCE ARTHUR AVE',
 '59 CATARAQUI CRES',
 '61 CAVELL AVE',
 '125 WESTERN BATTERY RD',
 '281 KENILWORTH AVE',
 '15 PLAYTER CRES',
 '21 PRINCE ARTHUR AVE',
 '214 GILLARD AVE',
 '125 WESTERN BATTERY RD',
 '15 PLAYTER CRES',
 '33 PRINCE ARTHUR AVE',
 '40 FIRVALLEY CRT',
 '175 GILLARD AVE',
 '153 HIGH PARK AVE',
 '98 CAVELL AVE',
 '125 WESTERN BATTERY RD',
 '125 WESTERN BATTERY RD',
 '201 KENILWORTH AVE',
 '33 PRINCE ARTHUR AVE',
 '182 KENILWORTH AVE',
 '71 GOUGH AVE',
 '11 PRINCE ARTHUR AVE',
 '164 HIGH PARK AVE',
 'MILL ST',
 '179 KENILWORTH AVE',
 '36 ELLERBECK ST',
 '11 PRINCE ARTHUR AVE',
 '164 HIGH PARK AVE',
 'MILL ST',
 '33 STRATHCONA AVE',
 '51 TICHESTER RD',
 '145 KENILWORTH AVE',
 '147 KENILWORTH AVE',
 '71 GOUGH AVE',
 'MILL ST',
 '50 ELLERBECK ST',
 '31 TICHESTER RD',
 '16 YONGE ST',
 '57 GOULDEN CRES',
 '200 PARKMOUNT RD',
 '125 KENILWORTH AVE',
 '58 ELLERBECK ST',
 '81 GOUGH AVE',
 '16 YONGE ST',
 '16 YONGE ST',
 'MILL ST',
 '265 MANITOBA DRIVE',
 '10 YUKON PLACE',
 '182 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '140 KENILWORTH AVE',
 '58 ELLERBECK ST',
 '85 GOUGH AVE',
 'MILL ST',
 '99 WILKES CRES',
 '191 HIGH PARK AVE',
 '81 WROXETER AVE',
 'WESTERN BATTERY RD',
 '126 KENILWORTH AVE',
 '26 TICHESTER RD',
 '97 GOUGH AVE',
 'MILL ST',
 '99 WILKES CRES',
 '62 ELLERBECK ST',
 'MILL ST',
 '88 GRANGEWAY AVE',
 '28 WROXETER AVE',
 '122 KENILWORTH AVE',
 '18 TICHESTER RD',
 '113 GOUGH AVE',
 '12 WILKES CRES',
 '244 HIGH PARK AVE',
 'OXLEY ST',
 '27 WROXETER AVE',
 'WESTERN BATTERY RD',
 '120 KENILWORTH AVE',
 '113 GOUGH AVE',
 '16 YONGE ST',
 '241 HIGH PARK AVE',
 '605 FINCH AVE W',
 '112 KENILWORTH AVE',
 '121 GOUGH AVE',
 '16 WROXETER AVE',
 'WESTERN BATTERY RD',
 '1953 QUEEN ST E',
 '1360 DUNDAS ST W',
 '170 PRINCES BLVD',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '104 KIPPENDAVIE AVE',
 'CHARLOTTE ST',
 '4 FRIZZELL AVE',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '80 KIPPENDAVIE AVE',
 '907 LOGAN AVE',
 '909 LOGAN AVE',
 'CHARLOTTE ST',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '66 KIPPENDAVIE AVE',
 'CHARLOTTE ST',
 'CHARLOTTE ST',
 '23 FRIZZELL AVE',
 'WESTERN BATTERY RD',
 '80 MILL ST',
 'CHARLOTTE ST',
 '66 KIPPENDAVIE AVE',
 '80 MILL ST',
 '1 HANSON ST',
 '33 FRIZZELL AVE',
 'WESTERN BATTERY RD',
 '80 MILL ST',
 '75 EMMETT AVE',
 '136 FELSTEAD AVE',
 '281 HIGH PARK AVE',
 '30 WESTERN BATTERY RD',
 '17 BULLER AVE',
 '17 BULLER AVE',
 '37 ARUNDEL AVE',
 '80 MILL ST',
 '308 HIGH PARK AVE',
 '17 BULLER AVE',
 '80 MILL ST',
 '80 MILL ST',
 '102 MONARCH PARK AVE',
 '20 DUNCAN ST',
 '86 FRIZZELL AVE',
 '30 WESTERN BATTERY RD',
 '43 KIPPENDAVIE AVE',
 '31 ARUNDEL AVE',
 '70 MILL ST',
 '115 PRINCES BLVD',
 '106 MONARCH PARK AVE',
 'GALLOWAY RD',
 '86 FRIZZELL AVE',
 '28 WESTERN BATTERY RD',
 '2 ARUNDEL AVE',
 '81 NAVY WHARF CRT',
 '70 MILL ST',
 '62 GLENDALE AVE',
 '86 FRIZZELL AVE',
 '287 HIGH PARK AVE',
 '22 WESTERN BATTERY RD',
 '32 KIPPENDAVIE AVE',
 '2 ARUNDEL AVE',
 '70 MILL ST',
 '83 MONARCH PARK AVE',
 '6 KEWBEACH AVE',
 '2 ARUNDEL AVE',
 '70 MILL ST',
 '52 HOWE AVE',
 '10 YUKON PLACE',
 '55 MONARCH PARK AVE',
 '393 KING ST W',
 '71 FRIZZELL AVE',
 '22 WESTERN BATTERY RD',
 '6 KEWBEACH AVE',
 'ROSELAWN AVE',
 '80 MILL ST',
 '67 FRIZZELL AVE',
 '80 MILL ST',
 '10 YUKON PLACE',
 '381 KING ST W',
 '372 JANE ST',
 'ROSELAWN AVE',
 'ROSELAWN AVE',
 '218 PARKMOUNT RD',
 '76 DINGWALL AVE',
 '55 KENILWORTH AVE',
 '55 KENILWORTH AVE',
 '22 WESTERN BATTERY RD',
 '707 RHODES AVE',
 '22 WESTERN BATTERY RD',
 '80 KENILWORTH AVE',
 'HELENDALE AVE',
 '10 YUKON PLACE',
 '701 RHODES AVE',
 '2 DINGWALL AVE',
 '2 DINGWALL AVE',
 '84 KENILWORTH AVE',
 'HELENDALE AVE',
 '627 RHODES AVE',
 '295 KING ST W',
 '300 MANITOBA ST',
 '300 MANITOBA ST',
 '22 WESTERN BATTERY RD',
 '22 WESTERN BATTERY RD',
 '84 KENILWORTH AVE',
 '10 CLOVELLY AVE',
 '295 KING ST W',
 '2 DINGWALL AVE',
 '300 MANITOBA ST',
 '300 MANITOBA ST',
 '22 WESTERN BATTERY RD',
 'KENILWORTH AVE',
 "71 D'ARCY ST",
 'HELENDALE AVE',
 'HELENDALE AVE',
 '10 YUKON PLACE',
 '35 HOLLYWOOD AVE',
 '22 WESTERN BATTERY RD',
 'KENILWORTH AVE',
 'KENILWORTH AVE',
 "95 D'ARCY ST",
 'HELENDALE AVE',
 '25 HILLINGDON AVE',
 '22 WESTERN BATTERY RD',
 '23 HILLINGDON AVE',
 '21 HILLINGDON AVE',
 '23 HOLLYWOOD AVE',
 '109 WAVERLEY RD',
 '42 BALTIC AVE',
 '82 BALDWIN ST',
 '2401 YONGE ST',
 '10 YUKON PLACE',
 '19 HILLINGDON AVE',
 'WITHROW AVE',
 '2401 YONGE ST',
 '2401 YONGE ST',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 'WITHROW AVE',
 'WITHROW AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '33 EMPRESS AVE',
 'KEWBEACH AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 'WITHROW AVE',
 'KEWBEACH AVE',
 'KEWBEACH AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '10 YUKON PLACE',
 '17 WOODROW AVE',
 '26 SOHO ST',
 'WITHROW AVE',
 '2821 LAKE SHORE BLVD W',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '99 HOWARD ST',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '26 SOHO ST',
 '40 PHOEBE ST',
 'WITHROW AVE',
 '2817 LAKE SHORE BLVD W',
 '99 HOWARD ST',
 '26 SOHO ST',
 'WITHROW AVE',
 '111 WAVERLEY RD',
 '130 HURON ST',
 '135 ERSKINE AVE',
 '99 HOWARD ST',
 '133 DRAYTON AVE',
 '99 HOWARD ST',
 '345 DRIFTWOOD AVE',
 '2814 LAKE SHORE BLVD W',
 '1506 QUEEN ST W',
 '1506 QUEEN ST W',
 '274 WAVERLEY RD',
 '77 HOWARD ST',
 '115 DRAYTON AVE',
 '190 JOHN ST',
 '209 WITHROW AVE',
 'BELVEDERE BLVD',
 '274 WAVERLEY RD',
 '286 MILVERTON BLVD',
 '8 RUSHOLME DR',
 '345 DRIFTWOOD AVE',
 '59 DRAYTON AVE',
 '176 JOHN ST',
 '312 WAVERLEY RD',
 '300 WAVERLEY RD',
 '10 YUKON PLACE',
 '10 YUKON PLACE',
 '57 DRAYTON AVE',
 '180 JOHN ST',
 '209 WITHROW AVE',
 'ERSKINE AVE',
 '345 DRIFTWOOD AVE',
 '356 MILVERTON BLVD',
 '345 DRIFTWOOD AVE',
 '173 WITHROW AVE',
 '345 DRIFTWOOD AVE',
 '104 BASTEDO AVE',
 '35 GREENBRAE CRCT',
 '1 ROBERT ST',
 '298 WAVERLEY RD',
 '99 CLAREMORE AVE',
 '335 DRIFTWOOD AVE',
 '118 BASTEDO AVE',
 '159 WITHROW AVE',
 '1 ROBERT ST',
 '320 WAVERLEY RD',
 '33 GABIAN WAY',
 '159 WITHROW AVE',
 '322 WAVERLEY RD',
 '562 GLEBEHOLME BLVD',
 '156 BASTEDO AVE',
 '332 WAVERLEY RD',
 '13 IRWIN AVE',
 '135 WITHROW AVE',
 '31 LIPPINCOTT ST',
 '211 WAVERLEY RD',
 '374 WOLVERLEIGH BLVD',
 '21 IRWIN AVE',
 '31 LIPPINCOTT ST',
 '177 WAVERLEY RD',
 '989 EGLINTON AVE W',
 '133 ERSKINE AVE',
 '33 GABIAN WAY',
 '109 MOBERLY AVE',
 '75 WITHROW AVE',
 '153 WAVERLEY RD',
 '44 IRWIN AVE',
 '77 HOWARD ST',
 '10 YUKON PLACE',
 '109 MOBERLY AVE',
 'SHAW ST',
 '10 YUKON PLACE',
 '91 MOBERLY AVE',
 '977 EGLINTON AVE W',
 '1026 EGLINTON AVE W',
 '139 WOLVERLEIGH BLVD',
 '85 MOBERLY AVE',
 'WAVERLEY RD',
 '3 BROADWAY AVE',
 '83 MOBERLY AVE',
 '22 BAIN AVE',
 'WAVERLEY RD',
 '17 WOLVERLEIGH BLVD',
 '33 GABIAN WAY',
 '43  MOBERLY AVE',
 '25 TOWN CENTRE CRT',
 'WAVERLEY RD',
 '115 MERRILL AVE E',
 'BAIN AVE',
 '18 GRENVILLE ST',
 '18 GRENVILLE ST',
 '78 ROSELAWN AVE',
 '1294 DUNDAS ST W',
 '78 BELLEFAIR AVE',
 '82 BELLEFAIR AVE',
 '33 GABIAN WAY',
 '122 MERRILL AVE E',
 'BAIN AVE',
 '20 SHALLMAR BLVD',
 '179 SPRINGDALE BLVD',
 '117 ROSELAWN AVE',
 '20 SHALLMAR BLVD',
 '450 ADELAIDE ST W',
 '136 BELLEFAIR AVE',
 '117 ROSELAWN AVE',
 'BAIN AVE',
 '136 BELLEFAIR AVE',
 '33 GABIAN WAY',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '134 BELLEFAIR AVE',
 '11 SHALLMAR BLVD',
 '162 ROSELAWN AVE',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '60 BRANT ST',
 '164 BELLEFAIR AVE',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 'BAIN AVE',
 '60 BRANT ST',
 '60 BRANT ST',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '60 BRANT ST',
 '33 GABIAN WAY',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '190 BELLEFAIR AVE',
 '21 MC CAUL ST',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '2 JUNIPER AVE',
 '390 QUEENS QUAY W',
 '214 BAIN AVE',
 '177 WHEELER AVE',
 '159 WHEELER AVE',
 'VULCAN ST',
 'VULCAN ST',
 '121 PORTLAND ST',
 'VULCAN ST',
 'VULCAN ST',
 '82 WHEELER AVE',
 '137 CITY VIEW DR',
 '140 ADANAC DR',
 '179 WHEELER AVE',
 '640 ROSELAWN AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '77 HOWARD ST',
 '137 CITY VIEW DR',
 '24 MABELLE AVE',
 '24 MABELLE AVE',
 '329 FAIRLAWN AVE',
 '1 PORTLAND ST',
 'WHEELER AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '1 PORTLAND ST',
 '5 WHEELER AVE',
 'ROSELAWN AVE',
 '137 CITY VIEW DR',
 '77 HOWARD ST',
 '137 CITY VIEW DR',
 '217 FAIRLAWN AVE',
 '1 PORTLAND ST',
 '1 PORTLAND ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '1 PORTLAND ST',
 '35 HOWARD ST',
 '1 PORTLAND ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '9 HAMMERSMITH AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '223 LANGLEY AVE',
 '3 HAMMERSMITH AVE',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 '223 LANGLEY AVE',
 '5 RESURRECTION RD',
 'SELBY ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 '420 WELLINGTON ST W',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 'GLEN RUSH BLVD',
 '113 LANGLEY AVE',
 '75 LEE AVE',
 '15 SCARBOROUGH GOLF CLUB RD',
 '10 TORRESDALE AVE',
 '113 LANGLEY AVE',
 '98 HANSON ST',
 '15 SCARBOROUGH GOLF CLUB RD',
 '10 TORRESDALE AVE',
 '65 HUNTLEY ST',
 '108 HANSON ST',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '100 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 '1 REAN DR',
 '10 TORRESDALE AVE',
 '20 BEECROFT RD',
 '100 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 'COLDSTREAM AVE',
 '1 ECCLESTON DR',
 '1 ECCLESTON DR',
 '1 REAN DR',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '104 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 '135 ISABELLA ST',
 '127 ISABELLA ST',
 '16 TORRESDALE AVE',
 '346 FAIRLAWN AVE',
 '348 FAIRLAWN AVE',
 '337 FAIRLAWN AVE',
 '21 WAKUNDA PL',
 '11 ECCLESTON DR',
 '18 KENASTON GDNS',
 '18 KENASTON GDNS',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '5 WAKUNDA PL',
 '35 BROOKWELL DR',
 '39 BROOKWELL DR',
 'CHICOUTIMI AVE',
 'VICTOR AVE',
 '45 DEVON RD',
 '150 BEECROFT RD',
 '379 PACIFIC AVE',
 '152 NEVILLE PARK BLVD',
 '5 WAKUNDA PL',
 '41 BROOKWELL DR',
 '1 LARKSONG CRT',
 'VICTOR AVE',
 '43 DEVON RD',
 '10 TORRESDALE AVE',
 '312 DOUGLAS AVE',
 '51 BROOKWELL DR',
 '11 ECCLESTON DR',
 '23 DEVON RD',
 '10 TORRESDALE AVE',
 '150 BEECROFT RD',
 '316 DOUGLAS AVE',
 '51 BROOKWELL DR',
 '147 NEVILLE PARK BLVD',
 '30 ELKHORN DR',
 '10 TORRESDALE AVE',
 '65 CRANBORNE AVE',
 '9 WESTOWANIS DR',
 '17 ECCLESTON DR',
 '30 ELKHORN DR',
 '22 ELKHORN DR',
 '15 LEGION RD',
 '65 CRANBORNE AVE',
 '172 CARIBOU RD',
 '159 GLENMORE RD',
 '131 TORRESDALE AVE',
 '150 BEECROFT RD',
 '150 BEECROFT RD',
 '15 LEGION RD',
 '15 LEGION RD',
 '520 DOUGLAS AVE',
 'CARIBOU RD',
 '17 ECCLESTON DR',
 '2465 QUEEN ST E',
 '14 WHITTAKER CRES',
 '131 TORRESDALE AVE',
 '256 ADELAIDE ST E',
 '150 BEECROFT RD',
 '15 LEGION RD',
 '16 PINEBROOK AVE',
 'CARIBOU RD',
 'CARIBOU RD',
 '155 GLENMORE RD',
 '131 TORRESDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '15 STREAMDALE CRT',
 '25 ECCLESTON DR',
 '123 GLENMORE RD',
 '5 WHITTAKER CRES',
 '131 TORRESDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '4675 STEELES AVE E',
 '112 TISDALE AVE',
 '15 STREAMDALE CRT',
 '25 CARLTON ST',
 '3 SWIFT DR',
 '995 BLOOR ST W',
 '44 MUNRO PARK AVE',
 '85 HARLANDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '4675 STEELES AVE E',
 '120 TISDALE AVE',
 '25 CARLTON ST',
 '3 SWIFT DR',
 'MUNRO PARK AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '122 TISDALE AVE',
 '122 TISDALE AVE',
 'GLEN RUSH BLVD',
 '2306 QUEEN ST E',
 '85 HARLANDALE AVE',
 '25 BROADOAKS DR',
 '15 LEGION RD',
 '475 DOUGLAS AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '126 TISDALE AVE',
 '25 CARLTON ST',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '85 HARLANDALE AVE',
 '85 HARLANDALE AVE',
 '25 BROADOAKS DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '261 EASTWOOD RD',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '25 BROADOAKS DR',
 '333 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '11 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '340 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '292 GRANDRAVINE DR',
 '78 WILLOW AVE',
 '11 RUDDINGTON DR',
 '11 RUDDINGTON DR',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '25 BROADOAKS DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '13 IRWIN AVE',
 '292 GRANDRAVINE DR',
 '292 GRANDRAVINE DR',
 '199 DALLIMORE CRCL',
 '80 NORMANDY BLVD',
 '11 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '4675 STEELES AVE E',
 '97 SUFI CRES',
 '13 IRWIN AVE',
 '80 NORMANDY BLVD',
 '17 RUDDINGTON DR',
 '17 RUDDINGTON DR',
 '115 HARLANDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '97 SUFI CRES',
 '311 GRANDRAVINE DR',
 '176 DALLIMORE CRCL',
 '1 BEECH AVE',
 '17 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '115 HARLANDALE AVE',
 '505 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '110 SUFI CRES',
 '311 GRANDRAVINE DR',
 '120 DALLIMORE CRCL',
 '99 HOGARTH AVE',
 '120 NORMANDY BLVD',
 '17 RUDDINGTON DR',
 '17 RUDDINGTON DR',
 '115 HARLANDALE AVE',
 '509 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '505 GLENGARRY AVE',
 '311 GRANDRAVINE DR',
 '120 DALLIMORE CRCL',
 '99 HOGARTH AVE',
 '99 HOGARTH AVE',
 '905 QUEEN ST W',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '355 GRANDRAVINE DR',
 '8 GODSTONE RD',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '97 HOGARTH AVE',
 '97 BEECH AVE',
 '320 PARLIAMENT ST',
 '61 ELMHURST AVE',
 '100 DERRYDOWN RD',
 '879 QUEEN ST W',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '365 GRANDRAVINE DR',
 '70 DAVID DUNLAP CRCL',
 '97 HOGARTH AVE',
 '97 BEECH AVE',
 '99 FAIRMOUNT CRES',
 '51 TOLLERTON AVE',
 '332 PARLIAMENT ST',
 '55 ELMHURST AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '365 GRANDRAVINE DR',
 '97 HOGARTH AVE',
 '104 BEECH AVE',
 '29 FAIRMOUNT CRES',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '206 DAVID DUNLAP CRCL',
 '60 RUDDINGTON DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 'CHICOUTIMI AVE',
 '167 DAVID DUNLAP CRCL',
 '142 BEECH AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '7 ROCHEFORT DR',
 '167 DAVID DUNLAP CRCL',
 '29 BELLHAVEN RD',
 '91 BURNDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '7 ROCHEFORT DR',
 'FRITH RD',
 '161 DAVID DUNLAP CRCL',
 '170 BEECH AVE',
 '91 BURNDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '11 ROCHEFORT DR',
 'FRITH RD',
 '193 BEECH AVE',
 '4675 STEELES AVE E',
 '11 ROCHEFORT DR',
 'FRITH RD',
 '120 DUNDALK DR',
 '30 NORCROSS RD',
 '69 BURNETT AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '24 FERRAND DR',
 '700 HUMBERWOOD BLVD',
 '310 NISKA RD',
 '28 NORCROSS RD',
 '66 BURNETT AVE',
 '310 NISKA RD',
 'BEECH AVE',
 '120 DUNDALK DR',
 '88 HIGHCROFT RD',
 '4675 STEELES AVE E',
 '55 FERRAND DR',
 '33 SINGER CRT',
 '310 NISKA RD',
 '700 HUMBERWOOD BLVD',
 '120 DUNDALK DR',
 '33 SINGER CRT',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '11 HUMPHREY GT',
 '33 SINGER CRT',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '310 NISKA RD',
 '6 UNDERHILL DR',
 '304 KINGSWOOD RD',
 '700 HUMBERWOOD BLVD',
 '120 DUNDALK DR',
 '33 SINGER CRT',
 '152 ALMORE AVE',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '700 HUMBERWOOD BLVD',
 '75 PROVOST DR',
 '152 ALMORE AVE',
 '193 SHAW ST',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '700 HUMBERWOOD BLVD',
 '87 GAINSBOROUGH RD',
 '43 FREELAND ST',
 '39 NIAGARA ST',
 '21 POTSDAM RD',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '426 KINGSWOOD RD',
 '700 HUMBERWOOD BLVD',
 '700 HUMBERWOOD BLVD',
 '39 NIAGARA ST',
 '21 POTSDAM RD',
 '82 MAITLAND ST',
 'JOHN ST',
 '60 HEMLOCK AVE',
 '128 CLANTON PARK RD',
 '43 FREELAND ST',
 '21 POTSDAM RD',
 '700 HUMBERWOOD BLVD',
 '10 ROANOKE RD',
 '201 CARLAW AVE',
 'DENGATE RD',
 nan,
 '19 PROVINCETOWN RD',
 '126 CLANTON PARK RD',
 'CARIBOU RD',
 '10 ROANOKE RD',
 '201 CARLAW AVE',
 '2 COOPER ST',
 '21 POTSDAM RD',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '28 PHILPOTT GDNS',
 '66 EDGEWOOD AVE',
 '70 EDGEWOOD AVE',
 '2 COOPER ST',
 'ROANOKE RD',
 '10 ROANOKE RD',
 'OTTER CRES',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '235 CARLAW AVE',
 '235 CARLAW AVE',
 '7 GLENBURN AVE',
 '90 EDGEWOOD AVE',
 '69 OTTER CRES',
 '1375 DUNDAS ST W',
 '27 BROCKVILLE ST',
 '122 EDGEWOOD AVE',
 '35 TOBERMORY DR',
 '69 OTTER CRES',
 '700 HUMBERWOOD BLVD',
 '30 CHARLES ST E',
 '425 KING ST W',
 '35 TOBERMORY DR',
 '30 CHARLES ST E',
 '103 WEST LODGE AVE',
 '8 SHOALHAVEN DR',
 '8 SHOALHAVEN DR',
 '73 AUGUSTA AVE',
 '30 CHARLES ST E',
 '33 FLAGMAN ST',
 '8 SHOALHAVEN DR',
 '8 SHOALHAVEN DR',
 '45 GRENOBLE DR',
 '30 CHARLES ST E',
 '30 CHARLES ST E',
 '88 COLGATE AVE',
 '1979 DUNDAS ST E',
 '30 CHARLES ST E',
 '88 COLGATE AVE',
 '5 VICORA LINKWAY',
 'DRIFTWOOD AVE',
 '30 CHARLES ST E',
 '17 WHITEFRIARS DR',
 '41 LARK ST',
 'DRIFTWOOD AVE',
 '19 WHITEFRIARS DR',
 '19 WHITEFRIARS DR',
 '335 DRIFTWOOD AVE',
 '85 PALM DR',
 '335 DRIFTWOOD AVE',
 '23 WHITEFRIARS DR',
 '1 CARR ST',
 '335 DRIFTWOOD AVE',
 '335 DRIFTWOOD AVE',
 '23 WHITEFRIARS DR',
 '335 DRIFTWOOD AVE',
 '25 BLYTH HILL RD',
 '325 GRANDRAVINE DR',
 '23 WHITEFRIARS DR',
 '1 OSBORNE AVE',
 '3 OSBORNE AVE',
 '90 RAINSFORD RD',
 '1 CARR ST',
 '335 DRIFTWOOD AVE',
 '43 BLYTH HILL RD',
 '27 WHITEFRIARS DR',
 '43 BLYTH HILL RD',
 '57 CARR ST',
 '347 DRIFTWOOD AVE',
 '57 CARR ST',
 '347 DRIFTWOOD AVE',
 '34 CELT AVE',
 '2 BLYTH DALE RD',
 '34 CELT AVE',
 '57 CARR ST',
 '22 WELSFORD GDNS',
 '65 OSBORNE AVE',
 '11 BATTENBERG AVE',
 '27 LONDON GREEN CRT',
 '22 WELSFORD GDNS',
 '22 WELSFORD GDNS',
 '27 LONDON GREEN CRT',
 '14 STRATHALLAN BLVD',
 '27 LONDON GREEN CRT',
 '14 WELSFORD GDNS',
 '11 LEONARD AVE',
 '23 LONDON GREEN CRT',
 '2 MEADOWGLEN PL',
 '55 CHISHOLM AVE',
 '40 FOUNTAINHEAD RD',
 '282 DAWLISH AVE',
 '19 LONDON GREEN CRT',
 '105 ROWENA DR',
 '97 PARKMOUNT RD',
 '40 FOUNTAINHEAD RD',
 '40 FOUNTAINHEAD RD',
 '19 LONDON GREEN CRT',
 '45 BENLAMOND AVE',
 '2 MEADOWGLEN PL',
 '40 FOUNTAINHEAD RD',
 '35 FOUNTAINHEAD RD',
 ...]

In [7]:
tickets_2017_df.head()

,date_of_infraction,infraction_code,infraction_description,location1,location2,location3,set_fine_amount,tag_number_masked,time_of_infraction
0,20170101,15,PARK-WITHIN 3M OF FIRE HYDRANT,OPP,11 CENTRE AVE,NaN,100,***87325,1.0
1,20170101,15,PARK-WITHIN 3M OF FIRE HYDRANT,OPP,11 CENTRE AVE,NaN,100,***87326,1.0
2,20170101,3,PARK ON PRIVATE PROPERTY,NR,2425 JANE ST,NaN,30,***09493,2.0
3,20170101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,N/S,DUNDAS SQ,E/O,40,***67358,3.0
4,20170101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,N/S,ARMOURY ST,W/O,40,***87327,3.0

In [37]:
#Create SQL connection
engine = create_engine(f'mysql://{rds_connection_string}')

In [39]:
tickets_2017_df.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] No connection could be made because the target machine actively refused it)")
(Background on this error at: http://sqlalche.me/e/e3q8)